.heart{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            height: 100px;
            width: 100px;
            background-color: pink;
            transform: rotate(-45deg);
            transition: transform 0.4s;
            z-index: 10;
        }

        .heart::before {
            position: absolute;
            content: "";
            background-color: pink;
            height: 100px;
            width: 100px;
            bottom: 50px;
            border-radius: 50%;
            z-index: 1;
            
        }
        .heart::after {
            position: absolute;
            content: "";
            background-color: pink;
            height: 100px;
            width: 100px;
            left: 50px;
            border-radius: 50%;
            z-index: 1;
        }
        
        .heart:hover {
            background-color: red;
            transform: scale(1.2) rotate(-45deg);
            cursor: pointer;
        }
        .heart:hover::before {
            background-color: red;
        }
        .heart:hover::after {
            background-color: red;
        }
        .heart-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            color: white;
            font-size: 20px;       
            font-weight: bold;
            opacity: 0;            
            white-space: nowrap;
            transition: opacity 0.3s ease;
            pointer-events: none;
            z-index: 20;
}

.heart:hover .heart-text {
  opacity: 1;
}
        
h1 {
    position: relative;
    top: 20vh;
    text-align: center;
    
}